<router-outlet></router-outlet>

<mat-form-field appearance="outline">
  <mat-label>Number 1</mat-label>
  <input matInput placeholder="Number 1" [(ngModel)]="number1" (input)="onNumberChange()"/>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Number 2</mat-label>
  <input matInput placeholder="Number 2" [(ngModel)]="number2" (input)="onNumberChange()" />
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Option</mat-label>
  <mat-select ([ngModel])="selectedOption" (selectionChange)="optionChange($event)">
    <mat-option value="add">
      Add
    </mat-option>
    <mat-option value="sub">
      Substract
    </mat-option>
  </mat-select>
</mat-form-field>

{{ total }}
